.buttons-3JBrkn>.button-38aScr.noFocus-2C7BQj,
.container-1giJp5 .statusWithPopout-3ZfFol,
.container-1giJp5 .subtext-3CDbHg,
.customText-tY5LJn,
.description-2L932D,
.separator-2I32lJ,
.status-1fhblQ,
.toolbar-1t6TWx>.clickable-3rdHwn:last-of-type,
.tutorialContainer-SGrQ1h~.listItem-2P_4kh,
[href="/store"],
#channel-context-hide-voice-names,
#channel-context-invite-people,
.anchor-3Z-8Bb[href="https\:\/\/support\.discord\.com"] {
	display: none
}

.powercord-spotify {
	padding-bottom: 10px!important;
	border-top: 1px solid #333!important;
	border-bottom: 1px solid #333!important
}

.powercord-spotify img {
	border-radius: 0!important
}

.powercord-spotify .spotify-seek-bar {
	height: 4px!important;
	border-radius: 2px!important;
	margin-left: 15px!important;
	margin-right: 15px!important;
	background: #404040!important
}

.powercord-spotify .spotify-seek-bar-progress {
	background: #b3b3b3!important;
	border-radius: 42px!important
}

.powercord-spotify .container-3baos1 {
	background-color: transparent!important
}

.powercord-spotify .container-3baos1 .nameTag-3uD-yy .title-eS5yk3 {
	color: #fff!important
}

.powercord-spotify .container-3baos1 .nameTag-3uD-yy .subtext-3CDbHg {
	color: #b3b3b3!important;
	overflow-x: hidden!important;
	text-indent: -15px!important
}

.powercord-spotify .spotify-buttons button {
	background: 0 0!important
}

.powercord-spotify .spotify-seek-elements,
.powercord-spotify.hover .spotify-seek-elements {
	color: #b3b3b3!important;
	font-size: 70%!important;
	margin-top: 3px!important;
	margin-left: 10px!important;
	margin-right: 10px!important
}

.powercord-spotify .horizontal-1ae9ci * {
	width: 0!important;
	overflow: hidden!important;
	opacity: 0!important;
	display: none!important
}

.powercord-spotify:hover .horizontal-1ae9ci * {
	width: 32px!important;
	overflow: visible!important;
	opacity: 1!important;
	display: block!important
}

.theme-dark,
:root {
	--background-primary: #2b2b2b!important;
	--background-secondary: #2e2d2d!important;
	--background-secondary-alt: #303030!important;
	--background-tertiary: #1f1f1f!important;
	--background-accent: #1f1f1f!important;
	--background-floating: #29292b!important;
	--background-modifier-hover: rgba(255, 255, 255, 0.01)!important;
	--background-modifier-active: rgba(255, 255, 255, 0.03)!important;
	--background-modifier-selected: rgba(255, 255, 255, 0.04)!important;
	--background-modifier-accent: hsla(0, 0%, 100%, 0.06)!important;
	--channeltextarea-background: var(--background-accent)!important;
	--deprecated-card-bg: rgba(0, 0, 0, 0.2)!important;
	--deprecated-card-editable-bg: rgba(0, 0, 0, 0.1)!important;
	--deprecated-text-input-bg: var(--background-tertiary)!important;
	--deprecated-text-input-border: var(--background-floating)!important;
	--deprecated-text-input-border-disabled: var(--background-tertiary)!important;
	--activity-card-background: var(--background-primary)!important;
	--channels-default: #9f9f9f!important;
	--text-muted: #b6b6b6!important;
	--text-normal: #fbfbfb!important;
	--interactive-normal: #c8c8c8!important;
	--interactive-hover: #dcddde!important;
	--interactive-active: #fff!important;
	--interactive-muted: #747474!important;
	--header-primary: white!important;
	--header-secondary: #c9c9c9!important;
	--toast-background: var(--background-primary)!important;
	--toast-header: var(--background-tertiary)!important;
	--toast-contents: var(--background-secondary)!important;
	--toast-box-shadow: rgba(0, 0, 0, 0.2)!important;
	--toast-border: var(--background-tertiary)!important
}

.powercord-product {
	background: var(--background-secondary);
}
.perksModalContentWrapper-2HU6uL {
	background: var(--background-primary);
}

.emojiSection-3Fb9ix > .noWrap-3jynv6, .emojiSection-3Fb9ix {
  flex-wrap: wrap;
}
.emojiSection-3Fb9ix img ~ div {
  margin-left: 0 !important;
  margin-top: 10px !important;
}
.emojiSection-3Fb9ix img {
  margin: auto;
  min-width: 100%;
  height: auto !important;
}

.theme-dark .body-3iLsc4,
.theme-dark .container-1D34oG,
.theme-dark .footer-1fjuF6,
.theme-light .body-3iLsc4,
.theme-light .container-1D34oG,
.theme-light .footer-1fjuF6 {
	background-color: var(--background-primary)
}

.CodeMirror-hscrollbar::-webkit-scrollbar-thumb,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb,
.auto-Ge5KZx::-webkit-scrollbar-thumb,
.contentRegionScroller-26nc1e::-webkit-scrollbar-thumb,
.infoScroller-3EYYns::-webkit-scrollbar-thumb,
.listScroller-2_vlfo::-webkit-scrollbar-thumb,
.phoneFieldScroller-2IJUdK::-webkit-scrollbar-thumb,
.popout-2sKjHu::-webkit-scrollbar-thumb,
.scroller-1IfWg_::-webkit-scrollbar-thumb,
.scroller-2wx7Hm::-webkit-scrollbar-thumb,
.scrollerBase-289Jih::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.sidebarRegionScroller-3MXcoP::-webkit-scrollbar-thumb,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
	background-color: var(--background-secondary-alt)!important;
	border-color: transparent!important
}

.auto-Ge5KZx::-webkit-scrollbar-track,
.contentRegionScroller-26nc1e::-webkit-scrollbar-track {
	background-color: var(--background-secondary)!important
}

.phoneFieldScroller-2IJUdK::-webkit-scrollbar-track {
	background-color: var(--background-primary)!important
}

.scrollableContainer-2NUZem {
	background-color: var(--channeltextarea-background)!important
}

.scroller-2FKFPG::-webkit-scrollbar-corner {
	background-color: transparent!important
}

.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track {
	background-color: transparent!important;
	border-color: transparent!important
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	background-color: var(--background-secondary)!important;
	border: 4px solid var(--background-primary)!important;
	border-radius: 8px!important
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.scrollableContainer-2NUZem::-webkit-scrollbar-corner {
	background-color: transparent!important
}

.scrollableContainer-2NUZem::-webkit-scrollbar-track {
	background-color: transparent!important;
	border-color: transparent!important
}

.scrollableContainer-2NUZem::-webkit-scrollbar-track-piece {
	background-color: transparent
}

.scrollableContainer-2NUZem::-webkit-scrollbar-thumb {
	background-color: var(--background-secondary)!important;
	border-color: transparent!important
}

.userPopout-3XzG_A {
	border-radius: 12px
}

.theme-light .root-1gCeng {
	background: var(--background-primary);
	box-shadow: none
}

.theme-light .footer-2gL1pp {
	background: var(--background-secondary-alt);
	box-shadow: none
}

.lookFilled-1Gx00P.colorGrey-2DXtkV {
	background: var(--background-tertiary)
}

.lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
	background: var(--background-primary);
	filter: brightness(120%)
}

.itemContainer-1LSFks {
	border-radius: 24px;
	border: none;
	background: var(--background-tertiary);
	margin-bottom: 12px
}

.templatesList-2E6rTe {
	margin-top: 24px;
	padding: 0 12px 12px 12px;
	height: 330px
}

.platform-win .typeWindows-1za-n7 {
	height: 9px;
	margin-top: 0;
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	background: 0 0
}

.platform-win .winButtonClose-1HsbF- {
	border-top-right-radius: var(--TB-tr-roundness)
}

.platform-win .winButton-iRh8-Z {
	position: relative;
	top: calc(var(--TB-position-top, 0px) - 1px);
	right: var(--TB-position-right, 0);
	height: var(--TB-height, 48px);
	width: var(--TB-width, 40px)
}

.platform-win .winButton-iRh8-Z:not(.winButtonClose-1HsbF-):hover {
	background-color: rgba(255, 255, 255, .1)
}

.platform-win .container-1r6BKw {
	padding-right: var(--TB-header-padding, 125px)
}

.platform-win .wordmarkWindows-1v0lYD {
	display: none
}

.platform-win #app-mount.bd-detached-editor .winButton-iRh8-Z {
	right: 30%
}

.xenoLib-notification-content {
	margin-top: 30px
}

.theme-dark .selectorSelected-1_M1WV,
.theme-light .selectorSelected-1_M1WV {
	background-color: var(--background-modifier-active)
}

.theme-dark .autocomplete-1vrmpx,
.theme-light .autocomplete-1vrmpx {
	background-color: var(--background-secondary)
}

.notice-3bPHh- {
	margin-top: 50px !important;
}

.header-ywPcAE,
.inspector-3LQtX9 {
	background: var(--background-secondary)!important
}

.sidebar-2K8pFh {
	background: var(--background-tertiary)
}

.panels-j1Uci_ {
	border-bottom-left-radius: 7px !important;
}

.mask-1qbNWk.icon-1IxfJ2 {
	height: 11px;
	width: 11px;
	margin-left: 26%;
	margin-bottom: 15%
}

#status-picker.menu-3sdvDG .scroller-3BxosC {
	display: flex
}

#status-picker {
	background: var(--background-secondary);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
	animation: fadeIn 2s ease;
	border-radius: 7px;
	transform: rotate(360deg);
	position: fixed;
	left: 55px;
	bottom: 100px;
	height: 200px;
	width: 340px
}

#status-picker-custom-status,
#status-picker-dnd,
#status-picker-idle,
#status-picker-invisible,
#status-picker-online {
	border-radius: 30px
}

.container-1giJp5 .flex-1xMQg5 .flex-1O1GKY {
	margin-right: 63px
}

.ping-2NgC8E {
	margin-top: 1.5px;
	margin-left: 75px;
	position: fixed;
	z-index: 1
}

.content-98HsJk {
	background: var(--background-secondary)
}

.panels-j1Uci_>.container-3baos1>.avatarWrapper-2yR4wp {
	position: fixed;
	left: 18px;
	bottom: 10px
}

.container-3baos1 .flex-1xMQg5 {
	position: fixed;
	left: 17px;
	flex-direction: column;
	align-items: center;
	bottom: 55px;
	background: var(--background-secondary-alt);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
	border-radius: 5px;
	opacity: 0 !important;
	transition: 150ms ease;
	pointer-events: none;
	width: 35px !important;
}

.panels-j1Uci_>div:last-child {
	height: 0;
	width: 0
}

.panels-j1Uci_>div:nth-child(1) {
	margin-bottom: -2px
}

.container-3baos1 .avatarWrapper-2yR4wp:hover {
	padding-top: 15px
}

.container-3baos1 .avatarWrapper-2yR4wp:hover~.flex-1xMQg5,
.container-3baos1 .flex-1xMQg5:hover {
	opacity: 1 !important;
	pointer-events: all
}

.main-3auUui {
	background: var(--background-floating) !important;
}

.menu-3sdvDG {
	border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important; 
}

.membersWrap-2h-GB4.hiddenMembers-2dcs_q { display: none; }
@media screen and (min-width: 1100px) {
	.membersWrap-2h-GB4.hiddenMembers-2dcs_q { display: flex; }
}

.container-3baos1 .flex-1xMQg5::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 5px solid transparent;
    border-top-color: var(--background-secondary-alt);
    margin-left: -5px;
}

.avatar-1BDn8e + h2 > span.timestamp-3ZCmNB::before {
    content: var(--epictext);
    color: var(--epictxtcolor);
    background: var(--epic-bg);
    font-size: .8em;
    font-weight: 500;
    height: 2.28em;
    padding: .072rem .275rem;
    border-radius: 6px;
    text-transform: uppercase;
    vertical-align: baseline;
    margin-right: .50rem;
    margin-left: -.25rem;
}

.avatar-1BDn8e[src*="209830981060788225"] + h2 > span.timestamp-3ZCmNB::before {
    --epictext: 'Ajern Dev';
    --epic-bg: var(--background-modifier-accent);
    --epictxtcolor: white;
}

.headerTop-3C2Zn0 {
    min-height: 250px;
    padding: 0;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 {
    left: 0;
    bottom: 0;
    width: 250px;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 .wrapper-3t9DeA {
    height: 250px !important;
    width: 250px !important;
}
.avatarHint-1qgaV3 {width: 100%;height: 100%;border-radius: 0;}
.avatarHintInner-Dco91E {
    font-size: 0.4em;
    text-shadow: 1px 1px 3px black;
}
.headerTop-3C2Zn0 foreignObject {mask: none !important;}
.headerTop-3C2Zn0 rect {
    border-radius: 0;
    x: 0; y: 79;
    width: 80px;
    height: 3px;
    mask: none;
}
.headerText-2sdzFM {padding-bottom: 5px;}

.blockedMessageText-1fRjos:before {
   content: "";
   background: var(--background-secondary);
   border-radius: 10px;
   padding: 3px 0 3px 377px;
   margin: 0 -310px 0 -64px;
}
.groupStart-23k01U.expanded-13sWhZ > div > div > div > .content-2M3n_H  > div:before {
   padding-bottom: 0;
   border-radius: 10px 10px 0 0;
}
.blockedIcon-IrnkVA > path {
   fill: #F04747;
}
.groupStart-23k01U.expanded-13sWhZ {
   background: var(--background-primary);
   border-radius: 0px !important;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 {
   background: var(--background-secondary);
   padding: 8px 0 8px 72px;
   margin: -5px 4px 0 8px;
   border-radius: 0px 10px 10px 10px;
}
.groupStart-23k01U.expanded-13sWhZ > div > div > div > .content-2M3n_H  > div:hover:before {
   background: var(--background-secondary);
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6:hover,
.blockedMessageText-1fRjos:hover:before {
   background: var(--background-tertiary);
}
.blockedIcon-IrnkVA {
   margin-top: -2px;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > div,
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > div > .avatar-1BDn8e {
   margin-left: -8px;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > .buttonContainer-DHceWr {
   margin-right: -3px;
}

.content-3at_AU,  .layout-2DM8Md {
  border-radius: 50px;
}
.wrapper-2aW0bm,.button-1ZiXG9.selected-LCBEAU,.button-1ZiXG9,.powercord-snippet-apply:not(.applied) div:hover,.powercord-snippet-apply div  {
    border-radius: 24px !important;
}

.powercord-spotify .spotify-cover {
    border-radius: 20px !important;
}

.powercord-spotify .avatarWrapper-2yR4wp {
  
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    pointer-events: none !important;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Guild icon blur */

.none-2Eo-qx > div[data-ref-id="guildsnav"] .listItem-2P_4kh {
  filter: blur(3px)
}

.none-2Eo-qx > div[data-ref-id="guildsnav"] .listItem-2P_4kh:hover {
  filter: blur(0);
  transition: filter .5s
}

/* Blured Email */

.userInfoViewing-16kqK3 .flex-1xMQg5 .flexChild-faoVW3 .marginBottom20-32qID7+div .selectable-2GY4I1 {
    filter: blur(5px);
    transition: filter 0.5s;
}

.userInfoViewing-16kqK3 .flex-1xMQg5 .flexChild-faoVW3 .marginBottom20-32qID7+div .selectable-2GY4I1:hover {
    filter: blur(0);
}
.section-2gLsgF {
    position: relative;
    padding: 12px;
    border-radius: 4px;
    background-color: #2f2f2f;
}
.header-1TKi98 {
    background-color: #2f2f2f;
}
.theme-dark .footer-1FPmkC {
    background-color: #2f2f2f;
}
.scroller-2hZ97C {
    background-color: #1f1f1f;
}
.input-2VB9rf {
    background-color: #3f3f3f;
}
.content-1LAB8Z {
    background-color: #2f2f2f;
}
.theme-dark .footer-2gL1pp {
    background-color: #1f1f1f;
}
.footer-1eyGBa {
    background-color: #3f3f3f;
}
.theme-dark .friendSelected-1sa4bG {
    background-color: #4f4f4f;
}
.friend-3KALPe {
    border-radius: 6px;
    background-color: #2f2f2f;
}
.noResults-ZTbl5V, .scroller-hUf6zQ {
    background-color: #1f1f1f;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K {
    background-color: #2f2f2f;
}
.theme-dark .footer-3mqk7D {
    background-color: #1f1f1f;
}
.uploadModal-2ifh8j .inner-3nWsbo {
    background-color: #2f2f2f;
    margin: 0px;
}
.colorHeaderPrimary-26Jzh- {
    color: #fff;
}
.colorHeaderSecondary-3Sp3Ft {
    color: #d4d3d3;
}
.container-UC8Ug1 {
    background-color: #262626;
}
.colorStandard-2KCXvj {
    color: #d4d3d3;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV {
    background: #272727;
}
.scroller-1d5FgU {
    background-color: #3b3b3b;
}
.peopleList-2VBrVI {
    background-color: #2b2b2b;
}
.friendsEmpty-gs15T1 {
    background-color: #2b2b2b;
}
.header-30YxSJ {
    background-color: #2b2b2b;
}
.peopleColumn-1wMU14 {
    background-color: #2b2b2b;
}
.input-3r5zZY {
    background-color: #3b3b3b;
}
.scroller-18M1mG {
    background-color: #1b1b1b;
}
.theme-dark .selected-3H3-RC {
    background-color: #2b2b2b;
}
.body-1Ukv50, .topSection-13QKHs {
    background-color: #2b2b2b;
}
